.navigator {
  display: flex;
  padding: .5em 1em;
  border-bottom: 1px solid #dfdfdf;
  align-items: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
  0 3px 1px -2px rgba(0, 0, 0, .2),
  0 1px 5px 0 rgba(0, 0, 0, .12);
}

.program-list {
  .item {
    display: flex;
    align-items: center;
    position: relative;
    padding: 1em;
    cursor: pointer;
    background-color: #3b3746;
    color: #fafafa;
    &:after {
      display: block;
      content: '';
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      height: 1px;
      background-color: #dfdfdf;
    }
    .content {
      width: 100%;
      * {
        word-break: break-word;
      }
    }
    .name {
      @include ellipsis();
      align-items: center;
      font-size: 20px;
      font-weight: 700;
      width: 100%;
    }
    .path {
      color: #aaa;
    }
    .tpl-icon {
      margin-right: 1em;
      flex-shrink: 0;
      width: 6em;
      height: 6em;
      border-radius: 50%;
      border: 1px solid #dfdfdf;
      padding: 5px;
      background-color: #fff;
    }
    .time {
      padding-top: 5px;
      font-size: 12px;
      color: #777;
    }
  }
}

.balm-gui-debugger-bar {
  display: flex;
  position: fixed;
  padding: .3em;
  right: 0;
  bottom: 3px;
  background-color: rgba(0, 0, 0, .7);
  color: #f0f0f0;
  cursor: pointer;
  border-radius: 3px;
}
