.add-something {
  padding: 2em;
  @import "program";

  .add-form-item {
    display: flex;
    align-items: center;
    height: 75px;
    margin-bottom: 1em;
    > label {
      width: 80px;
      margin-right: 1em;
    }
    .mdl-textfield + .mdl-button {
      margin-left: 1em;
    }
  }
}
