.ui-terminal {
  .container {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .5);
    color: #f0f0f0;
    font-size: 12px;
    transition: opacity .25s, transform .25s;
    .wrap {
      background-color: rgba(0, 0, 0, .85);
      width: 80%;
      height: 80%;
      overflow-x: hidden;
      overflow-y: auto;
      border-radius: 6px;
      padding: 1em;
    }
    .close-btn {
      position: absolute;
      right: .5em;
      top: .5em;
      font-size: 48px;
      cursor: pointer;
    }
  }

  .text-list {
    .item {
      line-height: 1.8;
      align-items: center;
      word-break: break-word;
    }
  }
}
